{%if error404Page is not defined %}
    <div  class="widget_BreadCrumbs">
        <amp-img layout="fixed" src="/images/back.png" width="15px" height="18px"></amp-img>                    
        <div class="sep"></div>
        <ul>
            {%if breadcrumbs is defined %}
                {% for item in breadcrumbs %}
                    <li>
                        {%if item.link is not empty %}
                            <a href="{{item.url}}">
                                {{item.name}}
                            </a>
                        {%else%}
                            {{item.name}}
                        {%endif%}
                    </li>
                {%endfor%}
            {%endif%}
        </ul>
    </div>
{%endif%}
{%if fetch_widget_BreadCrumbs is defined %}
    {{ fetch_widget_BreadCrumbs |raw  }}
{%endif%}
