<footer  class="structure_Footer">
    <div class="bgfooter">
        {%if fetch_structure_Footer is defined %}
            {{ fetch_structure_Footer |raw  }}
        {%endif%}        
    </div>                  
    <div class="contacts"> <strong>In caso di lutto </strong> <div class="contact"> <span class="surname"> 349 082 8881 </span> <span class="name"> Maurizio Timperi </span> </div> <div class="contact"> <span class="surname"> 339 711 5990 </span> <span class="name"> Cristiano Menci </span> </div> </div>
    <div class="info">
        P.I. 05962771001 - Viale Roma, 48 - 00012 Guidonia Montecelio (RM)
    </div>
</footer>
