<section class="widget_aboutUs" data-menu>
    <div class="structure_Container">
        <h2>CHI SIAMO</h2>
        <span>
            L'Agenzia di Onoranze Funebri Timperi si distingue per professionalità, onestà e serietà. <br>La nostra esperienza consolidata e l'impegno nella riservatezza ci permettono di offrire un servizio accurato, sia dal punto di vista tecnico sia umano, assistendo le famiglie nell'organizzazione del funerale e nella gestione di ogni aspetto burocratico. 
            <br>Siamo dedicati a fornire un supporto completo per garantire una cerimonia rispettosa e impeccabile.
        </span>
        
        <div class="clearB"></div>
        <a href="/{{prefixAmp}}chi-siamo-noi">Più informazioni</a>
    </div>
</section>
{%if fetch_widget_AboutUs is defined %}
    {{ fetch_widget_AboutUs | raw  }}
{%endif%}
