<section class="widget_aboutUsPage">
    <div class="structure_Container">
        <h1>CHI SIAMO</h1>
        <div>
            <p>La professionalità, l’onestà e la serietà sono i tre valori che contraddistinguono l’Agenzia di Onoranze Funebri Timperi.</p>

            <p>L’esperienza accumulata e la riservatezza riposta in ogni servizio consentono alle <strong>Pompe Funebri Timperi</strong> di fornire un supporto tecnico e umano alle famiglie per la <strong>perfetta organizzazione del funerale</strong>, adempiendo ad ogni onere burocratico.</p>

            <p>Per questo motivo, Agostino e Maurizio Timperi nel corso del tempo sono diventati un punto di riferimento per tutte le <strong>famiglie di Tivoli e dintorni</strong> che si affidano ai loro servizi funebri.</p>

            </p>Con sensibilità e discrezione, le Onoranze Funebri Timperi, consapevoli del ruolo che ricoprono in un momento così difficile e doloroso, forniscono un supporto alle persone nella compilazione di tutte le pratiche funebri e nelle decisioni organizzative per ogni tipo di rito funebre, civile e religioso, rispettando ogni volontà e credo.</p>

        </div>        
        <div class="clearB"></div>       
    </div>
</section>
{%if fetch_widget_AboutUs is defined %}
    {{ fetch_widget_AboutUs | raw  }}
{%endif%}