<section class="widget_ArticoliHome" data-menu>
    <div class="structure_Container">
        <h2>I NOSTRI ARTICOLI FUNERARI</h2>
        <div class="service">
            <h3>Bare</h3>
            <p>
                La bara è l’articolo preposto per la conservazione del defunto. L’Onoranze Funebri TImperi permettono di selezionare una vasta gamma di bare differenti per dimensioni, per materiali, per rivestimenti e per intarsi.
            </p>            
            <a href="bare" class="read">Leggi</a>                        
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>            
        </div>
       <div class="service">
            <h3>Urne cinerarie</h3>
            <p>
                Le Onoranze Funebri Timperi dispongono di un’ampia scelta di urne cinerarie, che si differenziano per modelli e materiali.
                Per la conservazione delle ceneri dentro urne cinerarie è necessario rispettare i criteri di resistenza e infrangibilità stabiliti dalla legge. 
            </p>
            <a href="urne-cinerarie" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="service">
            <h3>Lapidi e tombe</h3>
            <p>
                L’Onoranze Funebri TImperi permettono di selezionare una vasta gamma di lapidi e manufatti funerari. 
                È possibile scegliere tra diversi modelli di arte funeraria e personalizzare le forme, i colori, i materiali e le incisioni, in base alle richieste e alle esigenze.
            </p>            
            <a href="/lapidi-e-tombe" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="service">
            <h3>Carri funebri</h3>
            <p>
                Le Pompe Funebri Timperi Guidonia dispongono di un’ampia scelta di carri funebri per il trasporto del feretro e delle autorizzazioni necessarie.
                La scelta del carro funebre dipende da molteplici circostanze, come la distanza da percorrere, ad esempio il trasporto nelle zone della Provincia di Roma Est (Castel Madama, Villa Adriana, Villanova, Paterno, Marco Simone, Setteville).
            </p>            
            <a href="/carri-funebri" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="service">
            <h3>Fiori per funerali</h3>
            <p>
                I fiori sono un elemento fondamentale, in quanto sono spesso offerti per dimostrare l’affetto nei confronti del defunto.
                L’Agenzia di Pompe Funebri Timperi mette a disposizione composizioni floreali per ogni tipo di cerimonia e rito funebre. 
            </p>
            <a href="fiori-e-composizioni-per-funerali" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="service">
            <h3>Manifesti funebri</h3>
            <p>
                Nell’attività di organizzazione del funerale rientra l’affissione dei manifesti funebri, tramite i quali si comunica alla comunità la notizia del triste evento e le informazioni necessarie per partecipare al funerale.
                L’Onoranze Funebri Timperi offrono un ampio catalogo di necrologi funebri,
            </p>
            <a href="manifesti-funebri-personalizzati" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="clearB"></div>        
    </div>
</section>
{%if fetch_widget_servicesHome is defined %}
    {{ fetch_widget_servicesHome | raw  }}
{%endif%}
