<section class="widget_aboutUs" data-menu>
    <div class="structure_Container">
        <h2>CHI SIAMO</h2>
        <span>
            La professionalità, l’onestà e la serietà sono i tre valori che contraddistinguono l’Agenzia di Onoranze Funebri Timperi.
            <br>L’esperienza accumulata e la riservatezza riposta in ogni servizio consentono alle Pompe Funebri Timperi di fornire un supporto tecnico e umano alle famiglie per la perfetta organizzazione del funerale, adempiendo ad ogni onere burocratico.
        </span>
        <img src="/images/chi-siamo.png" alt="Chi siamo">
        <div class="clearB"></div>
        <a href="/chi-siamo-noi">Più informazioni</a>
    </div>
</section>
{%if fetch_widget_AboutUs is defined %}
    {{ fetch_widget_AboutUs | raw  }}
{%endif%}
