<section class="widget_ArticoliHome" data-menu>
    <div class="structure_Container">
        <h2>COSA FARE IN CASO DI:</h2>
        <div class="service">
            <h3>Decesso della persona in casa</h3>
            <p>
                Il decesso in casa, è sempre un evento che può sconvolgere e turbare. La nostra agenzia saprà fornire assistenza ai familiari per tutti i passaggi e gli adempimenti legali.
                <br>
                L’Agenzia Funebre Timperi Guidonia può attivarsi tempestivamente per avviare le pratiche burocratiche e per la preparazione della salma
            </p>
            <a href="decesso-della-persona-in-casa" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>            
        </div>
       <div class="service">
            <h3>Decesso della persona in ospedale</h3>
            <p>
                In caso di decesso in ospedale, i familiari non dovranno occuparsi degli adempimenti burocratici, perché sarà cura dell’Amministrazione ospedaliera produrre i moduli e i certificati che attestano la morte.
                Il personale della struttura, seguendo protocolli stabiliti, effettua le operazioni necessarie ai fini igienico-sanitari per la preparazione della salma
            </p>            
            <a href="decesso-della-persona-in-ospedale" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="service">
            <h3>Decesso della persona all'estero</h3>
            <p>
                In caso di decesso all’estero di un cittadino italiano, è necessaria la trascrizione in Italia del decesso, tramite alcuni documenti da presentare.
                Avvenuto il decesso, bisogna contattare l’Ambasciata italiana o il Consolato generale per avviare il processo di rimpatrio della salma, tramite il Passaporto mortuario, rilasciato con la presentazione dei documenti richiesti
            </p>
            <a href="/decesso-della-persona-all-estero" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="service">
            <h3>Decesso straniero in italia</h3>
            <p>
                Nel caso di decesso di un cittadino straniero residente in Italia, è possibile che la sepoltura avvenga nel territorio italiano oppure nel Paese di origine.
                Così come per il decesso all’estero, l’Agenzia di Onoranze Funebri Timperi Guidonia si occuperà di tutte le pratiche da assolvere per il trasferimento della salma
            </p>
            <a href="/decesso-straniero-in-italia" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>            
        </div>
        <div class="service">
            <h3>Pratiche post mortem</h3>
            <p>
                Le Onoranze Funebri Timperi Guidonia saprà con efficienza e la dovuta riservatezza assolvere tutte le pratiche necessarie nel minor tempo possibile. 
                Il primo documento da produrre è il certificato di constatazione della morte, indispensabile per la preparazione della salma, l’allestimento della camera ardente e l’organizzazione del rito funebre
            </p>            
            <a href="pratiche-post-mortem" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="service">
            <h3>Certificato di morte</h3>
            <p>
                Il certificato di morte è il documento in cui si attesta il decesso di una persona, le sue generalità, la data e il luogo della morte. Spesso risulta essenziale per risolvere contratti e per comunicare la morte agli uffici della Pubblica Amministrazione
            </p>            
            <a href="certificato-di-morte" class="read">Leggi</a>            
            <a href="tel:3490828881" title="Chiama ora ">
                Chiama subito
            </a>
        </div>
        <div class="clearB"></div>        
    </div>
</section>
{%if fetch_widget_servicesHome is defined %}
    {{ fetch_widget_servicesHome | raw  }}
{%endif%}
