<article class="productNotfound">
    <div class="right404">
        <h1>Ooops! Pagina non disponibile</h1>
        <img src="/images/search-2876776_960_720.png" alt="404 not found" width="300">
    </div>
    <div class="left404">
        <p>Sembra che la pagina che stai cercando non esista. 
            <br>Torna alla <a href="/"><strong>Home page</strong></a> oppure prosegui la tua ricerca nelle nostre categorie di prodotti che trovi di seguito.</p>
    </div>
</article>
{#<section role=”navigation” class="container-box blue">
    <ul class="categorie-list">
        <li data-urlcopyfather="">
            <figure data-action="urlCopy">
                <img src="/imagesCategories/8/a/8/a/1_casa.png" alt="Categoria Casa"> </figure>
            <a data-urlcopy="" href="/casa">Casa</a>
        </li>
        <li data-urlcopyfather="">
            <figure data-action="urlCopy">
                <img src="/imagesCategories/f/1/e/5/1_cucina.png" alt="Categoria Cucina">
            </figure>
            <a data-urlcopy="" href="/cucina">Cucina</a>
        </li>
        <li data-urlcopyfather="">
            <figure data-action="urlCopy">
                <img src="/imagesCategories/c/4/3/f/1_audio_video.png" alt="Categoria Audio &amp; Video">
            </figure>
            <a data-urlcopy="" href="/multimedia">Audio &amp; Video</a>
        </li>
        <li data-urlcopyfather="">
            <figure data-action="urlCopy">
                <img src="/images/guide_acquisto.png" alt="Guide all'acquisto">
            </figure>
            <a data-urlcopy="" href="/guida_acquisto">Guide acquisto</a>
        </li>
    </ul>
</section>#}

