<section class="widget_TrasportiFunebri">
    <div class="structure_Container">
        <h1>TRASPORTI FUNEBRI</h1>
        <div>
            <p>L&rsquo;Agenzia di Pompe Funebri Timperi dispone di <span><strong>carri</strong> e <span><strong>mezzi funebri</strong> di ultima generazione, periodicamente revisionati e igienizzati dopo ogni servizio.<span></p>
            <p>L&rsquo;Agenzia effettua <span><strong>trasporti funebri</strong> in ogni frazione della <span><strong>Provincia di Roma Est</strong> (Tivoli, Guidonia Montecelio, Villalba, Castel Madama, Villa Adriana, Villanova, Paterno, Marco Simone, Setteville) e su tutto il territorio <span><strong>nazionale ed internazionale</strong>.<span></p>
            <p>Si occupa del recupero della salma sul luogo del decesso, del trasferimento dalla casa, dall'ospedale, del trasporto della bara al luogo delle esequie e del successivo viaggio verso il cimitero.<span></p>
            <p>Il trasporto della salma prevede:<span></p>
            <ul>
            <li>Decreto trasporto salma;&nbsp;<span></li>
            <li>Permessi cimiteriali;<span></li>
            <li>Passaporti mortuari in caso di trasporto verso un Paese estero,<span></li>
            <li>Concessione per l&rsquo;espatrio della salma in un Paese oltre i confini nazionali.<span></li>
            </ul>
            <p>Per il trasferimento fuori dal comune e per la sepoltura in un cimitero diverso da quello del paese di residenza, sar&agrave; fatto obbligo compilare particolari <span><strong>documenti</strong> e <span><strong>pratiche funebri</strong> cos&igrave; come per il <span><strong>trasporto</strong> delle ceneri dopo la cremazione.&nbsp;<span></p>
            <p>Le Onoranze Funebri Timperi, con sede a Tivoli, a Guidonia e a Villalba, sapranno illustrarvi tutti i passaggi necessari da compiere e forniranno assistenza nella procedura, sgravandovi da incombenze burocratiche per lasciarvi elaborare il lutto in serenit&agrave;. <span></p>    
        </div>        
        <div class="clearB"></div>        
    </div>
</section>
{%if fetch_widget_AboutUs is defined %}
    {{ fetch_widget_AboutUs | raw  }}
{%endif%}
