<section class="widget_BarePage">
    <div class="structure_Container">
        <h1>Bare</h1>
        <div>            
            <p>La bara &egrave; l&rsquo;articolo preposto per la conservazione del defunto. L&rsquo;Onoranze Funebri TImperi permettono di selezionare una vasta gamma di bare differenti per dimensioni, per materiali, per rivestimenti e per intarsi.</p>
            <p>La caratteristica fondamentale della bara &egrave; il tipo di legno da utilizzare, soprattutto in caso di sepoltura. La scelta del legno infatti &egrave; determinante al fine della conservazione. Pi&ugrave; il legno &egrave; duro, maggiore &egrave; la sua resistenza all&rsquo;umidit&agrave;.&nbsp;</p>
            <p>Le bare dell&rsquo;<strong>Agenzia Timperi Guidonia</strong> presentano anche una vasta scelta dei rivestimenti interni e delle imbottiture.</p>
            <p>&Egrave; inoltre possibile personalizzare le bare con intagli e decori.&nbsp;</p>
            <p>In caso di cremazione, le Pompe Funebri Timperi dispongono anche delle apposite bare che rispettano gli standard previsti dalla legge. Questo tipo di bare non sono trattate con vernici e materiali chimici. In ogni caso, sono realizzate con estrema cura nei dettagli, in modo da poter essere esposte per la veglia </strong>funebre e il funerale.</strong></p>
        </div>        
        <div class="clearB"></div>        
    </div>
</section>
{%if fetch_widget_AboutUs is defined %}
    {{ fetch_widget_AboutUs | raw  }}
{%endif%}