<section class="widget_SitemapHome" data-menu>
    <div class="structure_Container">
        <h2>ORGANIZZAZIONE CERIMONIA FUNEBRE</h2>
        <div class="service">
            <h3>Predisposizione del funerale</h3>
            <span>L’Agenzia di Onoranze Funebri Timperi Guidonia, sempre disponibile H24 e operativa su tutto il territorio di Tivoli, di Guidonia e delle zone limitrofe, interviene tempestivamente per assolvere con professionalità gli aspetti più urgenti che devono essere predisposti:</span>
            <ul>
                <li>
                    <a href="/preparazione-della-salma">Cura/preparazione estetica della salma</a>
                </li>
                <li>
                    <a href="/allestimento-camere-ardenti">Allestimento della camera ardente</a>
                </li>
                <li>Scelta rito funebre</li>
                <li>Organizzazione della funzione religiosa</li>
                <li>
                    <a href="#articoli-funerari">articoli funerari</a>
                </li>
                <li>Scelta stampa e affissione dei Manifesti Funebri e necrologi</li>
            </ul>        
        </div>
       <div class="service">
            <h3>Obblighi del funerale</h3>
            <span>Assistiamo le famiglie colpite da un lutto per la regolarizzazione degli adempimenti burocratici che devono essere obbligatoriamente eseguiti. Offriamo supporto per la compilazione, consegna o acquisizione di:</span>
            <ul>
                <li>Denuncia del Decesso</li>
                <li>Modulo Istat</li>
                <li>Certificato Necroscopico</li>
                <li><a href="/trasporti-funebri">Autorizzazione Trasporto salma</a></li>
                <li>Permesso di Sepoltura (inumazione o tumulazione) nel comune di Tivoli, Guidonia Montecelio e Roma) </li>
                <li>Certificato di Morte o Estratto di Morte</li>
                <li>Moduli e permessi per la Cremazione</li>
        </ul>
        </div>
        <div class="service">
            <h3>Tipo di cerimonia e sepoltura</h3>
            <span>La Flli Timperi Guidonia offre un servizio professionale e curato in ogni minimo aspetto. La cerimonia, nel rispetto della volontà del defunto, sarà gestita dall’Agenzia che effettua:</span>
            <ul>
                <li>Eventuale Trasferimento del Feretro in un Comune o Regione diversa</li>
                <li>Organizzazione del Funerale con Rito Civile</li>
                <li>Organizzazione del Funerale con Rito Religioso</li>
                <li>Organizzazione funzione evangelica</li>
                <li><a href="/sepoltura-della-salma">Sepoltura (Tumulazione, Inumazione)</a></li>
                <li><a href="/cremazione-della-salma">Cremazione</a></li>
                <li><a href="/dispersione-delle-ceneri">Dispersione delle Ceneri</a></li>
                <li><a href="/affidamento-delle-ceneri">Affidamento delle Ceneri</a></li>
            </ul>         
        </div>
        
        <div class="clearB"></div>        
    </div>
</section>
{%if fetch_widget_servicesHome is defined %}
    {{ fetch_widget_servicesHome | raw  }}
{%endif%}