<header class="header">
    {%if fetch_structure_Header is defined %}
        {{ fetch_structure_Header |raw  }}
    {%endif%}  
    <button data-hamburger class="hamburgerClose" on='tap:sidebar.open'></button>
   
    <div id="openSearch" class="iconSearch" data-openSearch="1"></div>
    <div class="homeLogo" data-placelogo="">
        <a class="homeLogo" href="/" title="Trova il prezzo migliore su elettrodomestici, TV led, impianti stereo e aspirapolvere"> 
            <amp-img  alt="Acquista al miglior prezzo l'arredamento e la teconlogia per la tua casa moderna" layout="fixed-height" height="43" src="https://www.acquistigiusti.it/images/acquisti_giusti_logo.png"></amp-img>
        </a>
    </div>
    {%if hedearBig is defined %}
        {#<div id="header-pipe" class="hidden-xs">
            <div></div>
        </div>#}
        {#<div id="header-title" class="raleway">
            Scegli bene ciò che compri!
        </div>#}
    {%else %}
        
    {% endif %}    
   {# <div class="userNav">               
        {%if sessionActive is empty%}
            <div class="loginUser" data-widgetOpenLogin >
            Accedi
        {%else%}
            <div class="loginUser">
            Logout 
        {%endif%}
        </div>        
    </div>#}          
</header>
{%if fetch_widget_HeaderButtonCategory is defined %}
    {{ fetch_widget_HeaderButtonCategory |raw  }}
{%endif%}

