<amp-sidebar id='sidebar' class="widget_TopMenu main-nav clearfix" layout='nodisplay' side="right"> 
    <nav class="widgetMenu" data-menu>
    <div class="structure_Container">
        <ul class="menuList">    
            <li class="home active">
                <a class="homeLogo" href="/">
                    HOME
                </a>
            </li>        
            <li class="home">
                ARTICOLI FUNERARI
                <ul>
                    <li>
                        <a href="/bare">Bare</a>
                    </li>
                    <li>
                        <a href="/urne-cinerarie">Urne cinerarie</a>
                    </li>
                    <li>
                        <a href="/lapidi-e-tombe">Lapidi e tombe</a>
                    </li>
                    <li>
                        <a href="/carri-funebri">Carri funebri</a>
                    </li>
                    <li>
                        <a href="/fiori-e-composizioni-per-funerali">Fiori per funerali</a>
                    </li>
                    <li>
                        <a href="/manifesti-funebri-personalizzati">Manifesti funebri</a>
                    </li>
                </ul>
            </li>                    
            <li class="home">
                SERVIZI
                <ul>
                    <li>
                        <a href="/preparazione-della-salma">Preparazione della salma</a>
                    </li>
                    <li>
                        <a href="/allestimento-camere-ardenti">Allestimento camera ardente</a>
                    </li>
                    <li>
                        <a href="/sepoltura-della-salma">Sepoltura della salma</a>
                    </li>
                    <li>
                        <a href="/cremazione-della-salma">Cremazione salma</a>
                    </li>
                    <li>
                        <a href="/adempimenti-dopo-il-decesso">Adempimenti dopo il decesso</a>
                    </li>
                    <li>
                        <a href="/trasporti-funebri">Trasporti funebri</a>
                    </li>
                </ul>
            </li><li class="home">
                CREMAZIONE
                <ul>
                    <li>
                        <a href="/cremazione-della-salma">Cremazione</a>
                    </li>
                    <li>
                        <a href="/dispersione-delle-ceneri">Dispersione ceneri</a>
                    </li>
                    <li>
                        <a href="/affidamento-delle-ceneri">Affido ceneri</a>
                    </li>                    
                </ul>
            </li>        
            <li class="home">
                IN CASO DI DECESSO
                <ul>
                    <li>
                        <a href="/decesso-della-persona-in-casa">Decesso in casa</a>
                    </li>
                    <li>
                        <a href="/decesso-della-persona-in-ospedale">Decesso in ospedale</a>
                    </li>
                    <li>
                        <a href="/decesso-della-persona-all-estero">Decesso all'estero</a>
                    </li>
                    <li>
                        <a href="/decesso-straniero-in-italia">Decesso straniero in italia</a>
                    </li>
                    <li>
                        <a href="/pratiche-post-mortem">Pratiche post mortem</a>
                    </li>
                    <li>
                        <a href="/certificato-di-morte">Certificato di morte</a>
                    </li>
                </ul>
            </li>        
            <li class="home">
                <a class="homeLogo" href="chi-siamo-noi">
                    CHI SIAMO
                </a>
            </li>                         
        </ul>
    </div>
</nav>


    </amp-sidebar>
{%if fetch_widget_Menu is defined %}
    {{ fetch_widget_Menu |raw  }}
{%endif%}
