<section class="widget_Maps" data-menu>    
    <div class="structure_Container">
        <h2>LE NOSTRI SEDI</h2>
        <amp-iframe 
  width="600"
  height="400"
  layout="responsive"
  sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
  frameborder="0"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.2311905813945!2d12.723261376633568!3d41.99531365806642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f79e324e2ac97%3A0xa424ca71ab96a4f!2sV.le%20Roma%2C%2048%2C%2000012%20Guidonia%20Montecelio%20RM!5e0!3m2!1sen!2sit!4v1685567668113!5m2!1sen!2sit">
</amp-iframe>
        <div class="locations">
            <div class="location">
                <span class="name"><strong>Agenzia F.lli Timperi Guidonia snc</strong></span>
                <span class="address">Viale Roma 48, Guidonia (RM)</span>
                <span class="telephone"><strong>Fisso:</strong> 0774 504264</span>
                <span class="telephone"><strong>Maurizio:</strong> 349 082 8881</span>
                <span class="telephone"><strong>Cristiano:</strong> 339 711 5990</span>
            </div>
            <div class="location">
                <span class="name"><strong>Agenzia F.lli Timperi</strong></span>
                <span class="address">Via Colsereno 76, Tivoli (RM)</span>
                <span class="telephone"><strong>Fisso:</strong> 0774 336666</span>
                <span class="telephone"><strong>Maurizio:</strong> 349 082 8881</span>
                <span class="telephone"><strong>Agostino:</strong> 347 177 5648</span>
            </div>
            <div class="location">
                <span class="name"><strong>Agenzia F.lli Timperi</strong></span>
                <span class="address">Corso Italia 172, Villalba (RM)</span>
                <span class="telephone"><strong>Fisso:</strong> 0774 355757</span>
                <span class="telephone"><strong>Maurizio:</strong> 349 082 8881</span>
                <span class="telephone"><strong>Agostino:</strong> 347 177 5648</span>
            </div>
        </div>
    </div>
</section>
<div class="clearB>"></div>
{%if fetch_widget_servicesHome is defined %}
    {{ fetch_widget_servicesHome | raw  }}
{%endif%}
