.widget_DetailComparisonProduct{
    margin-top: 3px;
    h2 {
        margin: 10px 0 -4px 1px;
        font-weight: 500;
        border-bottom: 6px solid #514e61;
        padding: 0 10px 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        thead th {
            border-bottom: 0px solid #514e61;
            border-top: 2px solid #4895b6;
            background: #2b3139;
            color: #fff;
            padding: 10px 5px;
            margin: 0;
        }
        td:nth-child(5){
            font-size: 22px;
        }
        tr:hover {
            td {
                background: #f3f3f3;
            }
        }
        td {
            height: 45px;
            padding: 5px 7px;
        }
        td:nth-child(3){
                /*width: 10%;*/   
                color: #47a417;
                &.notFree {
                    color: #333;
                }
            }
        th, td {
            text-align:center;
            border-bottom: 2px solid #f3f3f3;
            padding: 7px 9px;
            font-size: 13px;

            &:nth-child(1){
                /*width: 10%;*/               
            }
            &:nth-child(2){
                /*width: 10%;*/    
                text-align: center;
                h3 {
                    font-size: 13px;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 0;
                }
            }            
            &:nth-child(5){
                padding:4px 0 0 4px;
            }
                        
            
            &:nth-child(4){
                /*width: 30%;*/ 
                font-size: 16px;
            }
            
            figure {
                float: none;
                margin: 0;
            }
            .btnViewOtherOffered {
                margin: 0;
                padding: 11px 0px;
                background: #47a417;
                color: #fff;
                font-size: 13px;
                float: right;
                text-align: center;
                cursor: pointer;
                /* border-top: 2px solid #2a3139; */
                border-radius: 4px 0 0 4px;
                font-weight: bold;
                height: 16px;
                img {
                    width: 30px;
                    margin-top: -6px;
                }
            }
        }
    }
}
.widget_DetailProduct .widget_DetailComparisonProduct article header h1 {
    font-size: 14px;
    height: 33px;
    overflow: hidden;
}
.widget_DetailComparisonProduct article .boxPriceComparison div.boxPayments {
    float: left;
    border-bottom: none;
    width: 100%;
    margin: 0px 0 0;
    padding: 10px 0 0px 1px;
}

@media only screen and (max-device-width: 320px) {
    .widget_DetailComparisonProduct table th:nth-child(4), .widget_DetailComparisonProduct table td:nth-child(4) {
        font-size: 14px;
    }
    .widget_DetailComparisonProduct article .boxPriceComparison div {
        margin-bottom: 2px;
        width: 22%;
        float: left;
        margin-right: 1%;
    }
    .widget_DetailComparisonProduct article .boxPriceComparison .button {
        width: 29%;
    }
    .boxPriceComparison .sizeStockStatus .outOfStock {    
        font-size: 11px;    
        text-align: right;
    }    
}
